#gcb-container {
  width: 580px;
  color: #333; }
  #gcb-container .outline {
    border: 1px solid #AAAAAA;
    overflow: auto;
    margin: 8px;
    padding: 5px;
    padding-top: 2px;
    border-radius: 4px; }
  #gcb-container .username {
    margin: 1px 0px 4px 0px;
    height: 17px;
    color: gray; }
  #gcb-container .diffline {
    font-weight: normal;
    font-size: 14px; }
  #gcb-container .commitmessage, #gcb-container .commitmessagelong {
    font-style: italic;
    padding-left: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 16px; }
    #gcb-container .commitmessage .mini-icon, #gcb-container .commitmessagelong .mini-icon {
      margin-right: 5px;
      opacity: 0.5; }
  #gcb-container .commitmessagelong {
    white-space: pre; }
  #gcb-container .diffstat {
    font-weight: normal; }
  #gcb-container .badge {
    color: gray;
    font: 13px normal 'Droid Sans Mono', 'Consolas', 'Lucida Console', 'Courier New', monospace; }
  #gcb-container .username a {
    color: #4183C4;
    text-decoration: none; }
  #gcb-container .text-date {
    color: #C44040; }
  #gcb-container .committer {
    color: #43651F; }
  #gcb-container .email {
    color: #69A031;
    font-weight: normal; }
  #gcb-container span.diffadded {
    color: #6CC644; }
  #gcb-container span.diffremoved {
    color: #BD2C00; }
  #gcb-container span.diffmodified {
    color: #677a85; }
  #gcb-container .gravatar {
    border-radius: 6px;
    float: left;
    margin: 2px 5px 2px 2px;
    width: 60px;
    width: 60px; }
  #gcb-container .filelist {
    margin-top: 15px; }
    #gcb-container .filelist ul {
      list-style: none;
      margin: 0; }
      #gcb-container .filelist ul li {
        margin-left: 5px; }
        #gcb-container .filelist ul li span {
          margin-right: 5px; }
          #gcb-container .filelist ul li span.mini-icon-added {
            color: #6CC644; }
          #gcb-container .filelist ul li span.mini-icon-removed {
            color: #BD2C00; }
          #gcb-container .filelist ul li span.mini-icon-modified {
            color: #677a85; }
  #gcb-container .showMore {
    display: inline;
    float: right;
    margin-top: -18px;
    opacity: 0.5; }
  #gcb-container div.outline:hover .showMore {
    display: inline; }
  #gcb-container a {
    font-weight: bold; }
  #gcb-container .username a:hover,
  #gcb-container .badge:hover,
  #gcb-container .showMoreLink:hover {
    text-decoration: none; }
