// vim:ft=sass:et:sw=2:ts=2
$color-modified: #d0b44c;
$color-added: #6CC644;
$color-removed: #BD2C00;

#gcb-container {
	width: 580px;
	color: #333;

  // outline == container itself
	.outline {
		border: 1px solid #AAAAAA;
		overflow: auto;
		margin: 8px;
		padding: 5px;
		padding-top: 2px;
		border-radius: 4px;
	}
  
  .username {
    margin: 1px 0px 4px 0px;
    height: 17px;
    color: gray;
  }

  .diffline {
    font-weight: normal;
    font-size: 14px;
  }

  .commitmessage, .commitmessagelong {
    font-style: italic;
    padding-left: 65px;
    margin-top: 5px;
    margin-bottom: 5px;
    min-height: 16px;
    .octicon {
      margin-right: 5px;
      opacity: 0.5;
    }
  }


  .commitmessagelong {
    white-space: pre;
  }

  .diffstat {
    font-weight: normal;
  }

  .badge {
    color: gray;
    font: 13px normal 'Droid Sans Mono', 'Consolas', 'Lucida Console', 'Courier New', monospace;
  }

  .username a {
    color: #4183C4;
    text-decoration: none;
  }

  .text-date {
    color: #C44040;
  }

  .committer {
    color: #43651F;
  }

  .email {
    color: #69A031;
    font-weight: normal;
  }

  span.diffadded {
    color: $color-added;
  }
  span.diffremoved {
    color: $color-removed;
  }
  span.diffmodified {
    color: $color-modified;
  }

  .gravatar {
		border-radius: 6px;
    float: left;
    margin: 2px 5px 2px 2px;
    width: 60px;
    width: 60px;
  }

  .filelist {
    margin-top: 15px;
    ul {
      li {
        margin-left: 5px;
        span {
          margin-right: 5px;
          &.octicon-diff-added {
            color: $color-added;
          }
          &.octicon-diff-removed {
            color: $color-removed;
          }
          &.octicon-diff-modified {
            color: $color-modified;
          }
        }
      }
      list-style: none;
      margin: 0;
    }
  }
    
  .showMore {
    display: inline;
    float: right;
    margin-top: -18px;
    opacity: 0.5;
  }

  div.outline:hover .showMore {
    display: inline;
  }

  a {
    font-weight: bold;
  }

  .username a:hover,
  .badge:hover,
  .showMoreLink:hover {
    text-decoration: none;
  }
}
