#github-commit-badge-container {
	font-family: Verdana, arial, sans-serif;
	font-size: 12.8px;
	width: 580px;
}

.github-commit-badge-outline {
	border: 1px solid #808080;
	overflow: auto;
	margin: 8px;
	padding: 5px;
	padding-top: 0;
	background-color: #e5e5ff;
}

div.github-commit-badge-username {
	border: 0;
	margin: 2px 0 0;
	height: 16px;
	padding-left: 18px;
	color: #ff0;
	font-weight: bold;
	background: url(img/public.png) no-repeat top left;
}

.github-commit-badge-diffline {
	font-weight: bold;
}

.github-commit-badge-commitmessage {
	font-style: italic;
	padding-left: 90px;
	margin-top: 5px;
	margin-bottom: 5px;
	min-height: 16px;
	background: url(img/commit.png) no-repeat 70px top;
}

.github-commit-badge-diffstat {
	font-weight: normal;
	font-size: 0.9em;
}

.github-commit-badge-badge {
	color: #3399ff;
	text-decoration: none;
}

a.github-commit-badge-username {
	color: #0080ff;
	text-decoration: none;
	font-size: 1.1em;
}

.github-commit-badge-text-date {
	background-color: #fff6a9;
}

.github-commit-badge-diffadded {
	color: #008000;
}
.github-commit-badge-diffremoved {
	color: #f00;
}
.github-commit-badge-diffchanged {
	color: #800080;
}

.github-commit-badge-gravatar {
	border: 1px solid #fff6a9;
	float: left;
	margin: 2px;
}

.github-commit-badge-filelist {
	margin-top: 15px;
}

.github-commit-badge-filelist ul {
	list-style: square inside;
	margin: 0;
}
	
.github-commit-badge-showMoreLink {
	color: #3399ff;
	font-size: 1.1em;
}

a {
	font-weight: bold;
}

a.github-commit-badge-username:hover,
.github-commit-badge-badge:hover,
.github-commit-badge-showMoreLink:hover {
	text-decoration: none;
}